#AIhelperBtn {
    margin: 0;
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 150px;
    height: 50px;
    z-index: -100;
    text-decoration: none;
    color: #fff;
    background-color: #0047bb;
    border-radius: 30px;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.65);
    -moz-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.65);
    box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.65);
    z-index: 1998;
}

#AIhelperScreen-wrapper, #AIhelperChat-wrapper {
    z-index: 1997;
    transition: opacity .15s linear;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}

#AIhelperChat-wrapper {
    z-index: 1999;
}

#AIhelperScreen-bg, #AIhelperChat-bg {
    background-color: black;
    opacity: 0.8;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}

#AIhelperScreen-area {
    background-color: white;
    border: 4px solid darkgray;
    border-radius: 30px;
    margin: 0;
    position: fixed;
    bottom: 75px;
    left: 150px;
    width: 350px;
}

#AIhelperScreen-actions a {
    background-repeat: no-repeat;
    background-image: url(./risorse_dt/condivise/immagini/icone/icone-default-on/ico-list-view.png);
    background-size: 24px;
    background-position: center;
    background-color: transparent;
    text-decoration: none;
    color: #fff;
    background-color: gold;
    border-radius: 30px;
    width: 50px;
    height: 50px;
}

#AIhelperScreen-actions .impaired a {
    background-image: url(./risorse_dt/condivise/immagini/icone/icone-default-on/ico-visualizza.png);
}

#AIhelperScreen-actions .colorblind a {
    background-image: url(./risorse_dt/condivise/immagini/icone/icone-default-on/ico-sinistro.png);
}

#AIhelperScreen-actions .deficit a {
    background-image: url(./risorse_dt/condivise/immagini/icone/icone-default-on/ico-monitoraggio.png);
}

#AIhelperChat-area {
    background-color: white;
    border: 4px solid darkgray;
    border-radius: 30px;
    margin: 0;
    position: fixed;
    top: 10%;
    left: 10%;
    width: 50%;
    height: 80%;
}

#AIhelperChat-box {
    height: 80%;
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;
    margin-top: 10px;
    overflow-y: scroll;
}

#AIhelperChat-box div {
    border-radius: 20px;
    padding: 20px;
    background-color: lightgray;
    margin: 10px 0% 5px auto;
    border-bottom-right-radius: 4px;
    max-width: 75%;
}

#AIhelperChat-box div.user {
    /*margin: 10px auto 5px 0%;
        border-bottom-left-radius: 4px;
    */
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 15px;
    
}

#AIhelperChat-box div.ia {
    margin: 10px auto 5px 0%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 15px;
}

#AIhelperChat-thinking {
    font-size: small;
    font-style: italic;
    font-weight: bold;
    display: none;
    padding: 10px;
}

#AIhelperChat-thinking img {
    width: 15px;
    margin-right: 5px;
}

.AIhelperDescribe {
    margin: 0 auto;
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 9;
}

.AIhelperDescribe img {
    background-color: darkgray;
    border-radius: 25px;
    min-width: 35px;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.65);
    -moz-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.65);
    box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.65);
}

.AIhelperHelp {
    margin: 0 auto;
    position: absolute;
    bottom: 2px;
    right: 2px;
    z-index: 9;
    border-radius: 30px;
    padding: 2px 15px;
    background-color: yellow;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.65);
    -moz-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.65);
    box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.65);
}

.in-rec {
    background-color: rgb(242, 177, 63) !important;
}