/*****************************************************

    Foglio stile - (c) Poste Italiane 2019 - bpiol -  GD//FS//DU

*****************************************************/

/***************************/

/******* Left Sidebar *******/

/***************************/

body.headbar-fixed {
    padding-top: 40px;
}

body.headbar-fixed .headbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    transition: all 0.2s linear 0s;
}

.left-sidebar-wrapper {
    transition: width 0.3s;
}

#left-sidebar {
    background: #fff none repeat scroll 0 0;
    height: 100%;
    left: 200px;
    margin: 0 0 0 -200px;
    overflow: hidden;
    position: absolute;
    transition: width 0.5s;
    width: 50px;
    top: 95px;
    z-index: 3;
    box-shadow: 2px 5px 10px 1px rgba(204, 204, 204, 0.8);
}

body.headbar-fixed #left-sidebar {
    position: fixed;
    top: 43px;
}

#left-sidebar .navigation-sidebar {
    width: 350px;
    margin-bottom: 0;
}

#left-sidebar.active .navigation-sidebar {
    margin-left: 0px;
}

#left-sidebar .navigation-sidebar {
    padding-left: 0;
    width: 50px;
}


.left-sidebar-toggle-btn {
    padding: 12px;
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    color: #6d6e6f;
    border-left: 3px solid #fff;
    line-height: normal;
    vertical-align: middle;
    display: none;
}

.left-sidebar-wrapper {
    transition: padding 0.5s;
}


.left-sidebar-wrapper .content-sidebar {
    display: none;
}

.left-sidebar-on .left-sidebar-wrapper .content-sidebar {
    display: block;
}

.left-sidebar-on .left-sidebar-wrapper {
    /*padding-left: 50px;*/
    margin-bottom: 70px;
}

.left-sidebar-wrapper .left-sidebar-toggle-clk {
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: block;
    float: right;
    transform: rotate(0deg);
    transition: all 0.7s ease 0s;
    font-size: 18px;
    font-weight: 600;
}

.left-sidebar-wrapper .left-sidebar-toggle-clk:hover {
    color: #0047bb;
}

.left-sidebar-wrapper.active .left-sidebar-toggle-clk {
    transform: rotate(180deg);
}

.left-sidebar-wrapper.active #left-sidebar {
    width: 350px;
}



/* remote control user assistance */

.active #left-sidebar .content-remote-control {
    display: block !important;
    /*margin-top: -10px;*/
    margin-top: 20px;
}

.left-sidebar-wrapper #left-sidebar .content-remote-control {
    display: none;
}

#left-sidebar .content-remote-control {
    padding: 20px;
    border-top: 1px solid #ececec;
}

#left-sidebar .content-remote-control span {
    display: block;
}

.result-username,
.result-usercode {
    color: #000;
    font-weight: 600;
    margin-top: 7px;
}

.logout-remote-control {
    background-color: #f6f6f6;
    font-size: 15px;
    margin: 20px -20px 0 -20px;
    padding: 10px 20px 10px 20px;
}

.logout-remote-control a {
    color: #787878
}

.logout-remote-control a:hover {
    color: #0047bb
}

.logout-remote-control img {
    width: 24px;
}

.usercode-remote-control {
    margin-bottom: 20px;
}

.content-remote-control .label-like {
    color: #6d6e6f;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
}

/* vc */

.left-sidebar-bpiol {
  white-space: nowrap;
}
.icon-left-sidebar-bpiol {
  margin-right: 20px;
}
.icon-1stlevl {
  width: 30px;
  height: 30px;
  display: inline-block;
}
.left-sidebar-bpiol span, .left-sidebar-bpiol a {
    color: #6d6e6f;
    font-size: 16px;
}
.left-sidebar-bpiol .panel {
  border: 1px solid transparent;
  border-left: none;
  margin: 0;
}
.left-sidebar-bpiol .panel .panel {
  border: none;
}
.left-sidebar-bpiol .list-group-item {
  padding: 10px 12px 10px 60px;
  cursor: pointer;
  background-color: #f6f6f6;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  border-right: none;
  border-left: none;
  height: 50px;
  line-height: 25px;
}
.left-sidebar-bpiol .list-group-item.event-off {
  cursor: default;
}
.left-sidebar-bpiol .list-group-item.list-group-item-1lv {
  padding-left: 12px;
  background-color: white;
}
.left-sidebar-bpiol .list-group-item a, .left-sidebar-bpiol .list-group-item span {
  vertical-align: middle;
}
.left-sidebar-bpiol .list-group-item:first-child {
    border-radius: 0px;
}
.left-sidebar-bpiol .list-group-submenu .list-group-item {
    padding-left: 80px;
}
.left-sidebar-bpiol .list-group-sub-submenu .list-group-item {
    padding-left: 100px;
}
.left-sidebar-bpiol .list-group-sub-sub-submenu .list-group-item {
    padding-left: 120px;
}
.left-sidebar-bpiol span.icon-1stlevl img {
  width: 28px;
}
.left-sidebar-bpiol span.icon-1stlevl {
  margin-right: 12px;
}
.left-sidebar-bpiol .list-group-item:last-child {
  border-bottom: 0px;
}
.left-sidebar-wrapper .list-group-item.list-group-item-1lv {
  border: 1px solid transparent;
}
.left-sidebar-wrapper.active .list-group-item.list-group-item-1lv {
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
.left-sidebar-wrapper .list-group-item.list-group-item-1lv.selected {
  padding-left: 10px;
  border-left: 3px solid #0047bb !important;
}
.left-sidebar-wrapper.active .list-group-item.list-group-item-1lv.selected {
  padding-left: 10px;
  border-left: 3px solid #0047bb !important;
}
.left-sidebar-bpiol .list-group-item span.collapsed-arrow {
  position: absolute;
  left: 317px;
  top: 20px;
}
.left-sidebar-bpiol .list-group-item.list-group-item-1lv span.collapsed-arrow {
  left: 316px;
}
.left-sidebar-bpiol .list-group-item.list-group-item-1lv.selected span.collapsed-arrow {
  left: 314px;
}




/* xs */

@media (max-width:767px) {
    .cover {
        z-index: 9;
        background-color: #eedc00;
    }

    .content,
    .left-sidebar-wrapper {
        display: none;
    }
}

/* fix per sidebar */
@media (min-width: 768px) and (max-width: 840px) {
    .container {
      padding-left: 50px;
    }
}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
    #left-sidebar {
        top: 93px;
    }
    .content-federation-bar {
        display: inherit;
    }
}

/* fix per sidebar */
@media (min-width: 992px) and (max-width: 1070px) {
    .container {
      padding-left: 50px;
    }
}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
    #left-sidebar {
        top: 93px;
    }
}

/* fix per sidebar */
@media (min-width: 1200px) and (max-width: 1270px) {
    .container {
      padding-left: 50px;
    }
}

/* lg */
@media (min-width: 1200px) {
    #left-sidebar {
        top: 93px;
    }
}



/* xl */

/*
@media (min-width: 1888px) {

    .left-sidebar-on .left-sidebar-wrapper.active {
        padding-left: 250px;
    }
}
*/

/* High res Display  - Tutti i device retina sopra i 992px */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi) {


}
