/* Gallery  catalog */

.slick-prev {
  left: -10px;
}

.slick-next {
  right: -10px;
}

.gallery-pi-primary {
  width: 100%;
  position: relative;
}
.gallery-pi-primary.gallery-pi-mode-center img{
  max-height: 90%;
  max-width: 90%;
}

.gallery-pi-primary img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
  max-width: 100%;
}

.gallery-pi-primary .btn-cta-visualizza {
  position: absolute;
  bottom: 15px;
  right: 15px;
  margin: 0;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.65);
  -moz-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.65);
  box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.65);
}

.gallery-pi-primary .gallery-pi-primary-wrap img {
  padding: 20px 30px;
}


.thumbnail-gallery-pi-wrap{
  display: block;
  position: relative;
  background-color: #ececec;
  width: 100%;
}

.gallery-pi-height-default .thumbnail-gallery-pi-wrap {
  height: 74px;
  max-height: 100%;
  max-width: 100%;
}

.gallery-pi.gallery-pi-mode-center .thumbnail-gallery-pi-wrap {
  border: 1px solid #ccc;
}

.gallery-pi.gallery-pi-mode-center .thumbnail-gallery-pi-wrap img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 90%;
  max-width: 90%;
  border: none;
  margin: 0;
}

.item-gallery-pi .thumb-video::after{
  background-size: 40px;
}




.pswp__zoom-wrap .pswp-mode-center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  max-width: 1040px;
}
.pswp__bg {
  background-color: #fff;
}

.pswp__button {
  background-color: #fff;
  border-radius: 30px;
}

.pswp__ui--fit .pswp__top-bar,
.pswp__ui--fit .pswp__caption {
  background-color: #fff;
}

.pswp__ui--fit .pswp__top-bar {
  padding: 20px;
  height: auto;
  background-color: transparent;
  color: #000;
  opacity: 1 !important;
}

.pswp__counter {
  left: 10px;
  top: 20px;
}

.pswp__counter,
.pswp__caption,
.pswp__caption__center {
  color: #222427;
  font-size: 14px;
}

.pswp__caption__center {
  text-align: center;
}

.pswp__button {
  border: 1px solid #dadada;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15)
}

.pswp__button--close,
.pswp__button--fs,
.pswp__button--zoom {
  margin-left: 10px;
}

.pswp__button--close {
  background-image: url(/risorse_dt/condivise/immagini/icone/ico-gallery-close.png);
  background-position: center;
  background-size: 18px 19px;
  border: none;
  box-shadow: none;
}

.pswp__button--fs,
.pswp--fs .pswp__button--fs {
  background-image: url(/risorse_dt/condivise/immagini/icone/ico-gallery-fullpage.png);
  background-position: center;
  background-size: 21px 20px;
}

.pswp--zoom-allowed .pswp__button--zoom {
  background-image: url(/risorse_dt/condivise/immagini/icone/ico-gallery-plus.png);
  background-position: center;
  background-size: 22px 22px;
}

.pswp--zoomed-in .pswp__button--zoom {
  background-image: url(/risorse_dt/condivise/immagini/icone/ico-gallery-min.png);
  background-position: center;
  background-size: 22px 3px;
}

.pswp__button--arrow--left {
  background-image: url(/risorse_dt/condivise/immagini/generiche/ico-arrow-grey-left.png);
  background-repeat: no-repeat;
  background-position: center;
}

.pswp__button--arrow--right {
  background-image: url(/risorse_dt/condivise/immagini/generiche/ico-arrow-grey-right.png);
  background-repeat: no-repeat;
  background-position: center;
}

.pswp__button--arrow--left::before,
.pswp__button--arrow--right::before {
  display: none;
}

.pswp__button--arrow--left,
.pswp__button--arrow--right {
  width: 54px;
  height: 54px;
  margin: 15px;
}

/*
.pswp__zoom-wrap .pswp-mode-center iframe,
.pswp__zoom-wrap .pswp-mode-center video{
position: fixed;
width: 90%;
height: 90%;
display: block;
top: 5%;
left: 5%;
right: 5%;
}
*/

.pswp__element--disabled{
  display: none;
}

.pswp__item .embed-responsive .embed-responsive-item{
  height: 100%!important;
  width: 100%!important;
  margin: 0 auto;
}


@media (min-width: 992px) and (max-width: 1199px) {
  .gallery-pi-height-default .thumbnail-gallery-pi-wrap {
    height: 90px;
  }
  .pswp__zoom-wrap .pswp-mode-center {
    max-width: 830px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .gallery-pi-height-default .thumbnail-gallery-pi-wrap {
    height: 146px;
  }
  .pswp__zoom-wrap .pswp-mode-center {
    max-width: 605px;
  }
}

@media (max-width: 767px) {
  .pswp__ui--fit .pswp__top-bar,
  .pswp__counter {
    padding: 10px 10px 20px 10px;
    top:0;
  }

  .gallery-pi-height-default .thumbnail-gallery-pi-wrap {
    height: 280px;
  }

  .gallery-pi-mode-center .thumbnail-gallery-pi-wrap {
    padding: 20px;
  }

  .gallery-pi-mode-center .thumbnail-gallery-pi-wrap img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    max-height: 240px;
    max-width: 90%;
  }
  .pswp__zoom-wrap .pswp-mode-center {
    max-width: 90%;
    padding: 10%;
  }

  .pswp__button--arrow--left, .pswp__button--arrow--right{
    top: 75%!important;
    z-index: 2;
    background-size: 10px;
  }
  .pswp__button--arrow--left{
    background-position: left 20px center;
  }
  .pswp__button--arrow--right{
    background-position: right 20px center;
  }
  .pswp__button--fs{
    display: none!important;
  }

}

@media (max-width: 767px) and (orientation : landscape) {
  .pswp__caption{
    display: none!important;
  }
}


@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px),
only screen and (min-resolution: 192dpi) and (max-width: 767px) {

  .pswp__button--close {
    background-image: url(/risorse_dt/condivise/immagini/icone/ico-gallery-close@2x.png);
  }

  .pswp__button--fs {
    background-image: url(/risorse_dt/condivise/immagini/icone/ico-gallery-fullpage@2x.png);
  }

  .pswp--zoom-allowed .pswp__button--zoom {
    background-image: url(/risorse_dt/condivise/immagini/icone/ico-gallery-plus@2x.png);
  }

  .pswp--zoomed-in .pswp__button--zoom {
    background-image: url(/risorse_dt/condivise/immagini/icone/ico-gallery-min@2x.png);
  }

  .pswp__button--arrow--left {
    background-image: url(/risorse_dt/condivise/immagini/generiche/ico-arrow-grey-left@2x.png);
  }

  .pswp__button--arrow--right {
    background-image: url(/risorse_dt/condivise/immagini/generiche/ico-arrow-grey-right@2x.png);
  }

}
